VITE_API_URL="http://localhost:3000"
VITE_BUSINESS_NAME="Optica Suite"
VITE_BUSINESS_NIT="NIT 900000000-0"
VITE_BUSINESS_PHONE="+57 300 000 0000"
VITE_BUSINESS_ADDRESS="Direccion comercial no configurada"
